.profile-layout{
    display: grid;
    grid-template-columns: 1fr 8fr;

    padding: 10px;
    gap: 10px;
}

.sidebar{
    display: inline-flex;
    flex-direction: column;
    border-right: 1px solid black;
    gap: 10px;
}
