.category-list {
  min-width: 250px; /* Фиксированная ширина сайдбара */
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category-list a {
  text-decoration: none;
  color: #495057;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
  text-transform: capitalize; /* Делает первую букву заглавной */
  font-weight: 500;
}

.category-list a:hover {
  background-color: #e9ecef;
  color: #000;
}