.theme-preview{
    width: 100px;
    height: 100px;
    border: 5px black solid;
}

.dark{
    background-color: black;
    border-color: gray;
}

.light{
    background-color: white;
    border-color: black;
}