.avatar-selector
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.sticky-wrapper{
    display: flex;
    align-items: center;

    height: 100vh;
    position: sticky;
    top: 0;
}

.avatar-selector__preview{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.avatar-selector__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.avatar-selector__item{
    width: 100%;
    height: auto;
    object-fit: cover;
}